*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 1440px;
    height: 1024px;

    background: #FFFFFF;
}
header{
    padding: 30px 0;
    border-bottom: 1px solid #000000;
}
a{
    text-decoration: none;
    color: #000000;
}
@font-face {  
    font-family: 'Poppins';
    src: url(../fonts/Poppins-Medium.ttf);
}
@font-face {
    font-family: 'Poppins Italic';
    src: url(../fonts/Poppins-Italic.ttf);
}
@font-face {
    font-family: 'FiraGo';
    src: url(../fonts/FiraGO-Bold.ttf);
}
@font-face {
    font-family: 'FiraGo Regular' ;
    src: url(../fonts/FiraGO-Regular.ttf);
}
@font-face {
    font-family: 'Andada Pro';
    src: url(../fonts/AndadaPro-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'Andada Pro Italic';
    src: url(../fonts/AndadaPro-Italic-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Open Sans Italic';
    src: url(../fonts/OpenSans-Italic-VariableFont_wdth\,wght.ttf);
}
@font-face {
    font-family: 'Open Sans';
    src: url(../fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}
@font-face {
    font-family: 'malayalam mn';
    src: url(../fonts/malayalam-mn.ttf);
}
.container {
    max-width: 1184px;
    width:90%;
    margin: 0 auto;
}
.logo-wrapper, nav, .avatar-wrapper, .home, .contact, .about, .blog {
    display: inline-block;
}
.logo-wrapper{
    margin-right: 270px;
    font-family: 'malayalam mn';
}
.home, .about, .blog{
    margin-right: 50px;
    font-family: 'Poppins';
}
.contact{
    margin-right: 367px;
    font-family: 'Poppins';
}
h2{
    margin-top: 72px;
    margin-left: 520px;
    font-family: 'FiraGo'
    font-weight: 500;
    font-size: 24px;
}
.pic1, .pic2, .pic3{
    margin-top: 65px;
}
.pic1{
    display: inline-block;
    width: 333px;
    height: 487px;
    padding: 11px;
    margin-left: 126px;
    border: 1px solid #000000;
}
.title{
    padding-left:25.62px;
    margin-top: 5px;
    margin-bottom: 13.48px;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 16px;
}
.description{
    padding-left: 26px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
}
img{
    width: 100;
}
.pic2{
    display: inline-block;
    width: 333px;
    height: 487px;
    padding: 11px;
    margin-left: 112px;
    border: 1px solid #000000;
}
.pic3{
    display: inline-block;
    width: 333px;
    height: 487px;
    padding: 11px;
    margin-left: 98px;
    border: 1px solid #000000;
}
.button1, .button2, .button3{
    padding: 6px 26px;
    font-family: 'Poppins';
    /* background-color: #FFFFFF; */
}
.button1{
    margin-left: 330px;
    margin-top: 26px;
}
.button2{
    margin-left: 315px;
    margin-top: 26px;
}
.button3{
    margin-left: 303px;
    margin-top: 26px;
}
.list1, .list2, .list3{
    display: inline-block;
    margin-top: 68px;
    margin-bottom: 118px;
    font-family: 'Open Sans';
    line-height: 19px;
    font-size: 14px;
}
.list1{
    margin-left: 160px;
}
.list2{
    margin-left: 200px;
}
.list3{
    margin-left: 206px;
}
.more-product{
    padding-left: 1178px;
    padding-bottom: 61px;
    text-decoration-line: underline;
    font-family: 'FiraGo Regular';
}
.contact-us{
    margin-left: 609px;
    margin-top: 112px;
    font-family: 'Andada Pro';
    font-weight: 600;
    font-size: 40px;
    text-transform: capitalize;
    color: #7D0000;
}
.mail{
    margin-top: 119px;
    margin-left: 280px;
    font-family: 'Andada Pro Italic';
    font-weight: 600;
    font-size: 25px;
    color: #0B253E;
    display: inline-block;
    text-decoration-line: underline;
}
.address{
    margin-top: 119px;
    margin-left: 324px;
    font-family: 'Andada Pro';
    font-weight: 600;
    font-size: 25px;
    text-transform: capitalize;
    color: #0B253E;
    display: inline-block;
}
.phone, .time{
    margin-top: 34px;
}
.phone{
    margin-left: 280px;
    font-family: 'Andada Pro';
    font-weight: 600;
    font-size: 25px;
    text-transform: capitalize;
    color: #0B253E;
    display: inline-block;
}
.time{
    margin-left: 346px;
    font-family: 'Andada Pro';
    font-weight: 600;
    font-size: 25px;
    text-transform: capitalize;
    color: #0B253E;
    display: inline-block;
}
.map{
    width: 908px;
    height: 423px; 
    margin: 144px 266px 193px; 
    filter: drop-shadow(0px 0px 51px rgba(0, 0, 0, 0.07));
}
.title-about{
    margin-left: 524px;
    margin-top: 134px;
    font-family: 'Andada Pro';
    font-weight: 600;
    font-size: 40px;
    color: #7D0000
}
.text-about{
    display: inline-block;
    width: 650px;
    margin-left: 126px; 
    margin-top: 115px;
    font-family: 'Andada Pro';
    font-weight: 600;
    font-size: 25px;
    line-height: 165%;
    text-transform: capitalize;
    float: left;
}
.T-shirt{
    margin-left: 59px;
    margin-top: 185px;
    float: right;
}
.company-address{
    Width: 327px;
    margin-left: 398px; 
    margin-top: 89px;
    font-family: 'Andada Pro Italic';
    font-weight: 400;
    font-size: 25px;
    text-transform: capitalize;
    float: left;
}
.blog-title{
    margin-left: 94px;
    margin-top: 47px;
    font-family: 'FiraGo Regular';
    font-weight: 400;
    font-size: 19px;
    float: left;
}
#form{
    margin-top: 42px;
    margin-right: 98px;
    float: right;
    font-family: 'FiraGo Regular';
    color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.85);
}
 .search, .search-icon{    
    display: inline-block;
}
.search{
    padding-bottom: 18px;
    padding-right: 159px;
}
.search-icon{
    width: 26px;
    height: 26px;
    padding-top: 13.25px;
}
.fashion, .beauty, .travel, .art{
    display: inline-block; 
    font-family: 'FiraGo';
    font-weight: 500;
    font-size: 16px;
    
}
.fashion{
    margin-top: 169px;
}
.beauty, .travel, .art{
    margin-left: 65px;
}
.container-1{
    width: 308px;
    height: 228px;
    margin: 68px 17px 0px 98px;
    float: left;
}
.container-2{
    width: 918px;
    height: 228px;
    margin-top:68px;
    margin-right: 98px;
    background-color: #E5EBE5;
    float: right;
}
 .title-summer{
    padding-top: 38px;
    padding-bottom: 32px;
    font-family: 'FiraGo Regular';
    font-size: 18px;
}
.text-summer{
    color: #474747;
    font-family: 'FiraGo Regular';
    font-size: 14px;    
}
.title-summer, .text-summer{
    padding-left: 36px;
} 
.more-1{
    float: right;
    padding: 11px 27px 15px 28px;
    margin-top: 14px;
    margin-right: 98px;
    font-family: 'FiraGO Regular';
    font-size: 12px;
    text-decoration-line: underline;
    border: 1px solid #000000;
    border-radius: 4px;
}
.container-3{
    width: 308px;
    height: 228px;
    margin: 126px 17px 0px 98px;
    float: left;
}
.container-4{
    width: 918px;
    height: 228px;
    margin-top:68px;
    margin-right: 98px;
    background-color: #E5EBE5;
    float: right;
}
 .title-KOMONO{
    padding-top: 38px;
    padding-bottom: 32px;
    font-family: 'FiraGo';
    font-size: 18px;;
}
.text-KOMONO{
    color: #474747;
    font-family: 'FiraGo Regular';
    font-size: 14px; 
}
.title-KOMONO, .text-KOMONO{
    padding-left: 36px;
} 
.more-2{
    padding: 11px 27px 15px 28px;
    margin-top: 14px;
    margin-right: 98px;
    font-family: 'FiraGO Regular';
    font-size: 12px;
    text-decoration-line: underline;
    border: 1px solid #000000;
    border-radius: 4px;
    float: right;
}
.container-5{
    margin-top: 169px;
    margin-left: 206px;
    float: left;
}
.container-6{
    padding-top: 42px;
    margin-left: 68px;
    float: right;
}
.title-user{
    font-family: 'Poppins';
    font-size: 30px;
}
.profession{
    padding-top: 14px;
    font-family: 'Poppins Italic';
    color: #546CCC;
}
.user-about{
    margin-top: 96px;
    margin-left: 11px;
    border-bottom: 1px solid rgb(125 0 0);
    padding-bottom: 16px;
    padding-left: 32px;
    width: 135px;
    font-family:'Poppins';
    font-size: 24px;
}
.user-list{
    list-style: none;
    margin-top: 58px;
    margin-left: 16px;
    font-family:'Poppins';
    font-size: 20px; 
    float: left;
}
.user-mail, .user-address{
    margin-bottom: 30px;
}
.user-list-2{
    list-style: none;
    margin-top: 58px;
    margin-left: 163px;
    float: right;
}
.user-mail-2, .user-address-2{
    margin-bottom: 40px;
}
.user-mail-2, .user-address-2, .user-gender-2{
    font-family:'Poppins-Medium';
    font-weight: 500;
    font-size: 20px;
}
.user-button{
    float: right;
    padding: 16px 32px;
    font-family: 'Poppins';
    font-weight: 500;
    color: #FFFFFF;
    background-color: #87AC87;
    border: #FFFFFF;
    border-radius: 10px; 
}

